body{
    text-align: center;
    color: white;
    background-color: aquamarine;
}

#imagenes1{
    text-align: center;
    margin-top: 50px;
}
#imagenes2{
    text-align: center;
    margin-top: 50px;
}

img{
    height: 30vh;
    width: 140px;
    margin-right: 30px;
}